
<section class="grid md:grid-cols-2 md:grid-row-2 bg-[#f7f7f7]">
  
  
  <img src="/images/canoa.png" alt="" class="hidden md:block px-3 py-10">

  <div class="flex flex-col gap-4 py-10 px-6 lg:justify-center lg:items-center ">
    <div class="grid gap-4 auto-rows-min text-black lg:w-[30rem]">
      <div class="text-text">
        <p class="font-semibold font-raleway">Saída</p>
        <h2 class="text-5xl font-extrabold font-raleway">Aulas diárias</h2>
      </div>
      <p class="font-light text-text pb-6">
        Reme com nossos alunos e aprenda mais sobre a VA'A em uma aula de uma
        hora
      </p>

      <div class="">
        <div class="mb-8  border-gray-200">
          <ul class="flex flex-wrap -mb-px text-sm font-medium text-center w-full justify-between" id="default-tab " data-tabs-toggle="#default-tab-content" role="tablist">
              <li class="w-28 md:w-36 border-2 transition-all duration-300 ease-in-out cursor-pointer  hover:border-blue-500" role="presentation">
                <button class="inline-block py-4  hover:text-gray-600 hover:border-gray-300 text-text" id="dashboard-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="settings" aria-selected="false">Centro</button>
              </li>      
              <li class="w-28 md:w-36 border-2 transition-all duration-300 ease-in-out cursor-pointer   hover:border-blue-500" role="presentation">
                  <button class="inline-block py-4  hover:text-gray-600 hover:border-gray-300 text-text" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Ilha Grande</button>
              </li>             
              <li class="w-28 md:w-36 border-2 transition-all duration-300 ease-in-out  cursor-pointer   hover:border-blue-500" role="presentation">
                  <button class="inline-block py-4 rounded-t-lg hover:text-gray-600 hover:border-gray-300 text-text" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Rio das Ostras</button>
              </li>
          </ul>
        </div>
      
        <div>
            <div class="hidden" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="grid grid-cols-2 gap-4 text-white">
                  <div class="flex flex-col gap-4 items-center">
                    <div class="flex text-xl font-semibold gap-4 py-4 w-full bg-[#191D31] justify-center">
                      <span> <i class="fa-solid fa-sun" ></i> </span>
                      <h1>Manhã</h1>
                    </div> 
                     
                    <div class="flex flex-col gap-4 w-full">
                      <div class="bg-[#191D31] flex justify-center py-2" > <p>00:00 às 00:00</p> </div>                
                      <div class="bg-[#191D31] flex justify-center py-2"> <p>00:00 às 00:00</p> </div>
                    </div>
                  </div>
                  <div class="flex flex-col gap-4 items-center">
                    <div class="flex text-xl font-semibold gap-4 py-4 w-full bg-[#191D31] justify-center">
                      <span> <i class="fa-solid fa-sunset" ></i> </span> 
                      <h1>Tarde</h1>
                    </div> 
                     
                    <div class="flex flex-col gap-4 w-full">
                      <div class="bg-[#191D31] flex justify-center py-2" > <p>00:00 às 00:00</p> </div>                
                      <div class="bg-[#191D31] flex justify-center py-2"> <p>00:00 às 00:00</p> </div>
                    </div>
                  </div>   
               </div>
            </div>   

            <div class="hidden" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
              <div class="grid grid-cols-2 gap-4 text-white">
                <div class="flex flex-col gap-4 items-center">
                  <div class="flex text-xl font-semibold gap-4 py-4 w-full bg-[#191D31] justify-center">
                    <span> <i class="fa-solid fa-sun" ></i> </span>
                    <h1>Manhã</h1>
                  </div> 
                   
                  <div class="flex flex-col gap-4 w-full">
                    <div class="bg-[#191D31] flex justify-center py-2" > <p>00:00 às 00:00</p> </div>                
                    <div class="bg-[#191D31] flex justify-center py-2"> <p>00:00 às 00:00</p> </div>
                  </div>
                </div>
                <div class="flex flex-col gap-4 items-center">
                  <div class="flex text-xl font-semibold gap-4 py-4 w-full bg-[#191D31] justify-center">
                    <span> <i class="fa-solid fa-sunset" ></i> </span>
                    <h1>Tarde</h1>
                  </div> 
                   
                  <div class="flex flex-col gap-4 w-full">
                    <div class="bg-[#191D31] flex justify-center py-2" > <p>00:00 às 00:00</p> </div>                
                    <div class="bg-[#191D31] flex justify-center py-2"> <p>00:00 às 00:00</p> </div>
                  </div>
                </div>   
             </div>
            </div> 

            <div class="hidden" id="settings" role="tabpanel" aria-labelledby="settings-tab">
              <div class="grid grid-cols-2 gap-4 text-white">
                <div class="flex flex-col gap-4 items-center">
                  <div class="flex text-xl font-semibold gap-4 py-4 w-full bg-[#191D31] justify-center">
                    <span> <i class="fa-solid fa-sun" ></i> </span>
                    <h1>Manhã</h1>
                  </div> 
                   
                  <div class="flex flex-col gap-4 w-full">
                    <div class="bg-[#191D31] flex justify-center py-2" > <p>00:00 às 00:00</p> </div>                
                    <div class="bg-[#191D31] flex justify-center py-2"> <p>00:00 às 00:00</p> </div>
                  </div>
                </div>
                <div class="flex flex-col gap-4 items-center">
                  <div class="flex text-xl font-semibold gap-4 py-4 w-full bg-[#191D31] justify-center">
                    <span> <i class="fa-solid fa-sunset" ></i> </span>
                    <h1>Tarde</h1>
                  </div> 
                   
                  <div class="flex flex-col gap-4 w-full">
                    <div class="bg-[#191D31] flex justify-center py-2" > <p>00:00 às 00:00</p> </div>                
                    <div class="bg-[#191D31] flex justify-center py-2"> <p>00:00 às 00:00</p> </div>
                  </div>
                </div>   
             </div>
            </div>

            <div class="hidden" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
              <div class="grid grid-cols-2 gap-4 text-white">
                <div class="flex flex-col gap-4 items-center">
                  <div class="flex text-xl font-semibold gap-4 py-4 w-full bg-[#191D31]  justify-center">
                    <span> <i class="" ></i> </span>
                    <h1>Manhã</h1>
                  </div> 
                   
                  <div class="flex flex-col gap-4 w-full">
                    <div class="bg-[#191D31]  flex justify-center py-2" > <p>00:00 às 00:00</p> </div>                
                    <div class="bg-[#191D31] flex justify-center py-2"> <p>00:00 às 00:00</p> </div>
                  </div>
                </div>
                <div class="flex flex-col gap-4 items-center">
                  <div class="flex text-xl font-semibold gap-4 py-4 w-full bg-[#191D31] justify-center">
                    <span> <i class="" ></i> </span>
                    <h1>Manhã</h1>
                  </div> 
                   
                  <div class="flex flex-col gap-4 w-full">
                    <div class="bg-[#191D31] flex justify-center py-2" > <p>00:00 às 00:00</p> </div>                
                    <div class="bg-[#191D31] flex justify-center py-2"> <p>00:00 às 00:00</p> </div>
                  </div>
                </div>   
             </div>
            </div>
        </div>
      </div>
        
      <a href="" class="bg-red-500 p-3 mt-4 flex justify-center text-white font-bold uppercase w-40">Agende Já</a>
    </div>

  </div>

  
</section>
