

<section class="grid lg:grid-cols-2 relative">

  <div class="bg-shape bg-center bg-cover w-full h-full absolute -z-20 opacity-70 "></div>
  <div class="bg-[url('/images/blur.png')] bg-center bg-fixed w-full h-full absolute -z-30"></div>
  
  
  <div class="h-full flex flex-col justify-center">
    <div class="bg-[url('/images/canoa.png')] bg-center bg-cover  h-[12rem] lg:h-[22rem] xl:h-[28rem] hidden lg:block"></div>
  </div>

  <div class="flex flex-col gap-4 py-20 px-4 md:p-20">
    
    <div class="grid gap-4 auto-rows-min">
      <div class="">
        <p class="font-semibold font-raleway">Saída</p>
        <h2 class="text-5xl font-extrabold font-raleway" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000">Aulas diárias</h2>
      </div>
      <p class="font-light  pb-6" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1000">
        Reme com nossos alunos e aprenda mais sobre a VA'A em uma aula de uma
        hora
      </p>

      <div class="">
        <div class="mb-8  border-gray-200">
          <ul class="flex flex-wrap -mb-px text-sm font-medium text-center w-full justify-between" id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist" id="default-styled-tab" data-tabs-toggle="#default-styled-tab-content" data-tabs-active-classes="text-orange transition-all duration-2800 ease-in-out" 
          data-tabs-inactive-classes="text-gray-600 border-gray-100 group-hover:text-orange" role="tablist">
              <li class="transition-all duration-2800 ease-in-out cursor-pointer bg-white p-2 md:px-10 lg:px-6 group" role="presentation">
                <button class="text-lg lg:text-lg inline-block font-semibold" id="dashboard-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="settings" aria-selected="false">Centro</button>
              </li>      
              <li class="transition-all duration-2800 ease-in-out cursor-pointer bg-white p-2 md:px-10 lg:px-6 group" role="presentation">
                  <button class="text-lg lg:text-lg inline-block font-semibold " id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Ilha Grande</button>
              </li>             
              <li class="transition-all duration-2800 ease-in-out cursor-pointer bg-white p-2 md:px-10 lg:px-6 group" role="presentation" >
                  <button class="text-lg g:text-lg inline-block font-semibold" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Rio das Ostras</button>
              </li>
          </ul>
        </div>
      
        <div data-aos="fade-up" data-aos-delay="250" data-aos-duration="1000">
          <div class="hidden" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="grid grid-cols-2 gap-4 text-white">
                  <div class="flex flex-col gap-4 items-center">
                    <div class="self-end flex text-xl font-semibold  w-full">
                      <span class="bg-orange w-3/12 py-3 flex justify-center items-center"> <i class="fa-solid fa-sun text-2xl text-[white"></i></span>
                      <div class="bg-offwhite text-text border w-9/12 py-3 flex justify-center font-bold">
                        <h1>Manhã</h1>
                      </div>
                    </div> 
                     
                    <div class="flex flex-col gap-2 w-full">                                 
                      <div class="self-end flex  w-full">
                        <span class="bg-orange w-2/12 py-2 flex justify-center items-center"> <i class="fa-solid fa-clock text-xl"></i></span>
                        <div class="bg-offwhite text-text border  w-10/12 py-2 flex justify-center font-medium">
                          <p>00:00 às 00:00</p>
                        </div>
                      </div> 

                      <div class="self-end flex  w-full">
                        <span class="bg-orange w-2/12 py-2 flex justify-center items-center"> <i class="fa-solid fa-clock text-xl"></i></span>
                        <div class="bg-offwhite text-text border  w-10/12 py-2 flex justify-center font-medium">
                          <p>00:00 às 00:00</p>
                        </div>
                      </div> 

                    </div>
                  </div>
                  
                  <div class="flex flex-col gap-4 items-center">
                    <div class="self-end flex text-xl font-semibold  w-full">
                      <span class="bg-orange w-3/12 py-3 flex justify-center items-center"> <i class="fa-solid fa-sunset text-2xl text-[white"></i></span>
                      <div class="bg-offwhite text-text border w-9/12 py-3 flex justify-center font-bold">
                        <h1>Tarde</h1>
                      </div>
                    </div> 
                     
                    <div class="flex flex-col gap-2 w-full">                                 
                      <div class="self-end flex w-full">
                        <span class="bg-orange w-2/12 py-2 flex justify-center items-center"> <i class="fa-solid fa-clock text-xl"></i></span>
                        <div class="bg-offwhite text-text border w-10/12 py-2 flex justify-center font-medium">
                          <p>00:00 às 00:00</p>
                        </div>
                      </div> 

                      <div class="self-end flex w-full">
                        <span class="bg-orange w-2/12 py-2 flex justify-center items-center"> <i class="fa-solid fa-clock text-xl"></i></span>
                        <div class="bg-offwhite text-text border w-10/12 py-2 flex justify-center font-medium">
                          <p>00:00 às 00:00</p>
                        </div>
                      </div> 
                    </div>
                  </div>               
                </div>
          </div>   

          <div class="hidden" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
              <div class="grid grid-cols-2 gap-4 text-white">
                <div class="flex flex-col gap-4 items-center">
                  <div class="self-end flex text-xl font-semibold  w-full">
                    <span class="bg-orange w-4/12 py-4 flex justify-center items-center"> <i class="fa-solid fa-sun text-2xl text-[white"></i></span>
                    <div class="bg-offwhite text-text border border-orange w-8/12 py-4 flex justify-center">
                      <h1>Manhã</h1>
                    </div>
                  </div> 
                   
                  <div class="flex flex-col gap-4 w-full">                                 
                    <div class="bg-orange flex justify-center py-3"> <p>00:00 às 00:00</p> </div>

                    <div class="bg-orange flex justify-center py-3"> <p>00:00 às 00:00</p> </div>
                  </div>
                </div>
                
                <div class="flex flex-col gap-4 items-center">
                  <div class="self-end flex text-xl font-semibold  w-full">
                    <span class="bg-orange w-4/12 py-4 flex justify-center items-center"> <i class="fa-solid fa-sun text-2xl text-[white"></i></span>
                    <div class="bg-offwhite text-text border border-orange w-8/12 py-4 flex justify-center">
                      <h1>Manhã</h1>
                    </div>
                  </div> 
                   
                  <div class="flex flex-col gap-4 w-full">                                 
                    <div class="bg-orange flex justify-center py-3"> <p>00:00 às 00:00</p> </div>

                    <div class="bg-orange flex justify-center py-3"> <p>00:00 às 00:00</p> </div>
                  </div>
                </div>               
              </div>
          </div> 
            
          <div class="hidden" id="settings" role="tabpanel" aria-labelledby="settings-tab">
              <div class="grid grid-cols-2 gap-4 text-white">
                <div class="flex flex-col gap-4 items-center">
                  <div class="self-end flex text-xl font-semibold  w-full">
                    <span class="bg-orange w-4/12 py-4 flex justify-center items-center"> <i class="fa-solid fa-sun text-2xl text-[white"></i></span>
                    <div class="bg-offwhite text-text border border-orange w-8/12 py-4 flex justify-center">
                      <h1>Manhã</h1>
                    </div>
                  </div> 
                   
                  <div class="flex flex-col gap-4 w-full">                                 
                    <div class="bg-orange flex justify-center py-3"> <p>00:00 às 00:00</p> </div>

                    <div class="bg-orange flex justify-center py-3"> <p>00:00 às 00:00</p> </div>
                  </div>
                </div>
                
                <div class="flex flex-col gap-4 items-center">
                  <div class="self-end flex text-xl font-semibold  w-full">
                    <span class="bg-orange w-4/12 py-4 flex justify-center items-center"> <i class="fa-solid fa-sun text-2xl text-[white"></i></span>
                    <div class="bg-offwhite text-text border border-orange w-8/12 py-4 flex justify-center">
                      <h1>Manhã</h1>
                    </div>
                  </div> 
                   
                  <div class="flex flex-col gap-4 w-full">                                 
                    <div class="bg-orange flex justify-center py-3"> <p>00:00 às 00:00</p> </div>

                    <div class="bg-orange flex justify-center py-3"> <p>00:00 às 00:00</p> </div>
                  </div>
                </div>               
              </div>
          </div> 
        </div>
      </div>
        
      <a href="" class="bg-orange p-3 mt-4 flex justify-center text-white font-bold uppercase w-40" data-aos="fade-up" data-aos-delay="250" data-aos-duration="1000"  >Agende Já</a>
    </div>

  </div>

  
</section>
