

<section class="grid lg:grid-cols-2 relative">

  <div class="bg-shape bg-center bg-fixed w-full h-full absolute -z-20 opacity-70 "></div>
  <div class="bg-[url('/images/blur.png')] bg-center bg-fixed w-full h-full absolute -z-30"></div>
  
  
  <div class="flex items-center">
    <img class="hidden lg:block" src="/images/canoa.png" alt="">
  </div>

  <div class="py-28 md:p-20 xl:px-32">
    
    <div class="grid gap-4 auto-rows-min px-4 xl:p-20 ">
      <div class="">
        <p class="font-medium">Saída</p>
        <h2 class="text-5xl font-semibold" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000">Aulas diárias</h2>
      </div>
      <p class="font-light  pb-6" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1000">
        Reme com nossos alunos e aprenda mais sobre a VA'A em uma aula de uma
        hora
      </p>

      <div class="flex flex-col items-center">
        <div class="mb-8  border-gray-200">
          <ul class="flex flex-wrap -mb-px text-sm font-medium text-center justify-center  items-center bg-white" id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist" id="default-styled-tab" data-tabs-toggle="#default-styled-tab-content" data-tabs-active-classes="text-orange transition-all duration-2800 ease-in-out" 
          data-tabs-inactive-classes="text-offblack border-gray-100 lg:group-hover:text-orange transition-all" role="tablist">

              <li class="transition-all duration-2800 ease-in-out cursor-pointer bg-white py-2 px-6 md:px-10 lg:px-4 group" role="presentation">
                <button class="lg:text-lg inline-block font-medium" id="dashboard-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="settings" aria-selected="false">Centro</button>
              </li>      
              <span class="w-[1px] h-6 bg-gray-200"></span>
              <li class="transition-all duration-2800 ease-in-out cursor-pointer bg-white py-2 px-6 md:px-10 lg:px-4 group" role="presentation">
                  <button class="lg:text-lg inline-block font-medium " id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Ilha Grande</button>
              </li>     
              <span class="w-[1px] h-6 bg-gray-200"></span>        
              <li class="transition-all duration-2800 ease-in-out cursor-pointer bg-white py-2 px-6 md:px-10 lg:px-4 group" role="presentation" >
                  <button class="lg:text-lg inline-block font-medium" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Rio das Ostras</button>
              </li>
          </ul>
        </div>
      
        <div class="w-full" data-aos="fade-up" data-aos-delay="250" data-aos-duration="1000">
             
          <div class="hidden" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="grid grid-cols-2 gap-4 text-white relative">
                  <div class="bg-white absolute w-full h-[113px] bottom-0 -z-50"></div>
                  <div class="flex flex-col gap-4 items-center">
                    <div class="self-end flex text-xl font-medium  w-full">
                      <span class="bg-orange w-3/12 py-2 flex justify-center items-center"> <i class="fa-solid fa-sun text-xl"></i></span>
                      <div class="bg-offwhite w-9/12 py-2 flex justify-center font-medium text-offblack font-raleway">
                        <h1>Manhã</h1>
                      </div>
                    </div> 
                     
                    <div class="flex flex-col gap-2 w-full relative group">   
                      <div class="bg-white absolute w-full h-full -z-10"></div>
                      <div class=" flex w-full">
                        <div class="w-full py-4 flex flex-col items-center gap-4 justify-center font-medium text-offblack font-raleway transition-all ">
                          <p>00:00 às 00:00</p>
                          <div class="w-40 h-[1px] bg-gray-200"></div>
                          <p>00:00 às 00:00</p> 
                        </div>
                      </div> 
                      
                      <div class="w-full h-0 bottom-0 bg-orange absolute group-hover:h-1 transition-all duration-300 ease-out -z-10"></div>
                    </div>
                  </div>
                  
                  <div class="flex flex-col gap-4 items-center">
                    <div class="self-end flex text-xl font-medium  w-full">
                      <span class="bg-orange w-3/12 py-2 flex justify-center items-center"> <i class="fa-solid fa-sunset text-xl"></i></span>
                      <div class="bg-white w-9/12 py-2 flex justify-center font-medium text-offblack font-raleway">
                        <h1>Tarde</h1>
                      </div>
                    </div>  
                     
                    <div class="flex flex-col gap-2 w-full relative group">   
                      <div class="bg-white absolute w-full h-full -z-10"></div>
                      <div class=" flex w-full">
                        <div class="w-full py-4 flex flex-col items-center gap-4 justify-center font-medium text-offblack font-raleway transition-all ">
                          <p>00:00 às 00:00</p>
                          <div class="w-40 h-[1px] bg-gray-200"></div>
                          <p>00:00 às 00:00</p> 
                        </div>
                      </div> 
                      
                      <div class="w-full h-0 bottom-0 bg-orange absolute group-hover:h-1 transition-all duration-300 ease-out -z-10"></div>
                    </div>
                  </div>
                  </div>               
                
          </div>   
          <div class="hidden" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                <div class="grid grid-cols-2 gap-4 text-white relative">
                  <div class="bg-white absolute w-full h-[113px] bottom-0 -z-50"></div>
                  <div class="flex flex-col gap-4 items-center">
                    <div class="self-end flex text-xl font-medium  w-full">
                      <span class="bg-orange w-3/12 py-2 flex justify-center items-center"> <i class="fa-solid fa-sun text-xl"></i></span>
                      <div class="bg-offwhite w-9/12 py-2 flex justify-center font-medium text-offblack font-raleway">
                        <h1>Manhã</h1>
                      </div>
                    </div> 
                     
                    <div class="flex flex-col gap-2 w-full relative group">   
                      <div class="bg-white absolute w-full h-full -z-10"></div>
                      <div class=" flex w-full">
                        <div class="w-full py-4 flex flex-col items-center gap-4 justify-center font-medium text-offblack font-raleway group-hover:text-white transition-all ">
                          <p>00:00 às 00:00</p>
                          <div class="w-40 h-[1px] bg-gray-200"></div>
                          <p>00:00 às 00:00</p>
                        </div>
                      </div> 
                      
                      <div class="w-full h-0 bottom-0 bg-orange absolute group-hover:h-full transition-all duration-700 ease-out -z-10"></div>
                    </div>
                  </div>
                  
                  <div class="flex flex-col gap-4 items-center">
                    <div class="self-end flex text-xl font-medium  w-full">
                      <span class="bg-orange w-3/12 py-2 flex justify-center items-center"> <i class="fa-solid fa-sun text-xl"></i></span>
                      <div class="bg-white w-9/12 py-2 flex justify-center font-medium text-offblack font-raleway">
                        <h1>Manhã</h1>
                      </div>
                    </div>  
                     
                    <div class="flex flex-col gap-2 w-full">   

                      <div class=" flex w-full">
                        <div class="bg-white w-full py-4 flex flex-col items-center gap-4 justify-center font-medium text-offblack font-raleway text">
                          <p>00:00 às 00:00</p>
                          <div class="w-40 h-[1px] bg-gray-200"></div>
                          <p>00:00 às 00:00</p>
                        </div>
                      </div> 

                    </div>
                  </div>               
                </div>
          </div>   
          <div class="hidden" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                <div class="grid grid-cols-2 gap-4 text-white relative">
                  <div class="bg-white absolute w-full h-[113px] bottom-0 -z-50"></div>
                  <div class="flex flex-col gap-4 items-center">
                    <div class="self-end flex text-xl font-medium  w-full">
                      <span class="bg-orange w-3/12 py-2 flex justify-center items-center"> <i class="fa-solid fa-sun text-xl"></i></span>
                      <div class="bg-offwhite w-9/12 py-2 flex justify-center font-medium text-offblack font-raleway">
                        <h1>Manhã</h1>
                      </div>
                    </div> 
                     
                    <div class="flex flex-col gap-2 w-full relative group">   
                      <div class="bg-white absolute w-full h-full -z-10"></div>
                      <div class=" flex w-full">
                        <div class="w-full py-4 flex flex-col items-center gap-4 justify-center font-medium text-offblack font-raleway group-hover:text-white transition-all ">
                          <p>00:00 às 00:00</p>
                          <div class="w-40 h-[1px] bg-gray-200"></div>
                          <p>00:00 às 00:00</p>
                        </div>
                      </div> 
                      
                      <div class="w-full h-0 bottom-0 bg-orange absolute group-hover:h-full transition-all duration-700 ease-out -z-10"></div>
                    </div>
                  </div>
                  
                  <div class="flex flex-col gap-4 items-center">
                    <div class="self-end flex text-xl font-medium  w-full">
                      <span class="bg-orange w-3/12 py-2 flex justify-center items-center"> <i class="fa-solid fa-sun text-xl"></i></span>
                      <div class="bg-white w-9/12 py-2 flex justify-center font-medium text-offblack font-raleway">
                        <h1>Manhã</h1>
                      </div>
                    </div>  
                     
                    <div class="flex flex-col gap-2 w-full">   

                      <div class=" flex w-full">
                        <div class="bg-white w-full py-4 flex flex-col items-center gap-4 justify-center font-medium text-offblack font-raleway text">
                          <p>00:00 às 00:00</p>
                          <div class="w-40 h-[1px] bg-gray-200"></div>
                          <p>00:00 às 00:00</p>
                        </div>
                      </div> 

                    </div>
                  </div>               
                </div>
          </div>   

          
        </div>
        <div class="w-full"  data-aos="fade-up" data-aos-delay="250" data-aos-duration="1000" >
          <a href="" class="bg-orange hover:bg-transparent hover:text-orange border border-orange p-3 mt-4 flex justify-center text-white font-bold uppercase w-40 transition-all duration-700">Agende Já</a>
        </div>
      </div>
        
    </div>

  </div>

  
</section>
