---
interface Props {
  data: string;
	subtitle: string;
	link: string;
	title: string;
	paragraph: string;
}

const { title, subtitle, paragraph, link, data } = Astro.props;
---



<div class="flex flex-col gap-4"> 
  <div class="grid h-80 bg-cover bg-center bg-[url('./images/dj4.jpg')]" style="background-image: url('./images/dj4.jpg');">
    <div class="self-start place-self-end m-4 p-2 bg-[#191D31] font-bold">{data}</div>
    <div class="self-end flex">
      <div class="backdrop-blur w-10/12 p-2 py-4 px-4">{subtitle}</div>
      <div class="bg-blue-500 w-2/12 p-2 py-4 flex items-center justify-center text-2xl">
        <i class="fa-solid fa-chevron-right"></i>
      </div>
    </div>
  </div>

</div>
