<div class="bg-red-500 flex flex-col gap-4">
  <div class=" h-[300px] bg-cover bg-center relative" style="background-image: url('./images/dji1.JPG');">
    <div class="backdrop-blur w-full h-10 absolute bottom-0 flex items-center justify-between">
      <div class="ml-4">
        <h2>Lorem</h2>
      </div>
    </div>
    <div class="bg-shape w-14 h-full flex justify-center items-center">
      <span> <i class="fa-solid fa-chevron-right"></i> </span>
    </div>
  </div>

  <div class="font-raleway flex flex-col gap-2 text-[#262626]">
    <h1 class="text-3xl font-extrabold">Lorem</h1>
    <p class="font-light">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, voluptatibus.</p>
  </div>

</div>
