<div class="flex flex-col gap-4"> 
  <div class="grid h-[300px] bg-cover bg-center bg-[url('./images/dji1.JPG')] bg-blue-500">
    <div class="self-start place-self-end m-4 p-2 backdrop-blur font-bold">10/10/2024</div>
    <div class="self-end flex">
      <div class="backdrop-blur w-10/12 p-2 py-4">Test</div>
      <div class="bg-blue-500 w-2/12 p-2 py-4 flex items-center justify-center text-2xl">
        <i class="fa-solid fa-chevron-right"></i>
      </div>
    </div>
  </div>

  <div class="font-raleway flex flex-col gap-2 text-[#262626]">
    <h1 class="text-3xl font-extrabold">Lorem</h1>
    <p class="font-light">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, voluptatibus.</p>
  </div>

</div>
