---
import EventosCardCard from "./EventosCard.astro";
---

<section class="relative">
  <div class="bg-[url('/images/a.png')] bg-center bg-cover w-full h-full absolute -z-20 opacity-30"></div>

  <div class="flex flex-col items-center gap-20 py-28">
    <div class="">
      <h1 class=" font-extrabold text-text text-4xl uppercase">Próximos Eventos</h1>
      <div class="w-full  rounded-md mt-2 border-b "></div>
    </div>
  
    <div class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
      <EventosCardCard 
      data="30/05/2024" 
      title="Volta Ilha Grande" 
      link="" 
      image="dj2.png"
      />
      <EventosCardCard 
      data="30/05/2024" 
      title="Volta Ilha Grande" 
      link="" 
      image="dj2.png"
      />
      <EventosCardCard 
      data="30/05/2024" 
      title="Volta Ilha Grande" 
      link="" 
      image="dj2.png"
      />
      
      
    </div>
  </div>
</section>