---
import EventosCardCard from "./EventosCard.astro";
---

<section id="#event" class="relative">

  <div class="flex flex-col items-center gap-12 px-4 py-20 md:p-20 xl:p-32">
    <div class="">
      <h1 class=" font-semibold text-offblack text-4xl md:text-5xl uppercase">Próximos Eventos</h1>
      <div class="w-full  rounded-md mt-2 border-b"></div>
    </div>
  
    <div class=" grid grid-cols-1 lg:grid-cols-3 gap-10 w-full">  
      <EventosCardCard 
        data="30/05/2024" 
        title="Volta Ilha Grande" 
        link="" 
        image="dj2.png"
      />
      <EventosCardCard 
        data="30/05/2024" 
        title="Volta Ilha Grande" 
        link="" 
        image="dj4.png"
      />
      <EventosCardCard 
        data="30/05/2024" 
        title="Volta Ilha Grande" 
        link="" 
        image="dj3.png"
      />
    </div>
  </div>
</section>