<section class="bg-[#191d31] w-full h-96 relative">
    <div class="border-t border-white/20 w-full flex items-center">
      <div class="flex items-center justify-between container h-20 ">
        <h1 class="font-raleway uppercase font-semibold">Lorem ipsum dolor sit amet.</h1>
       <div class="flex gap-10 text-2xl divide-x divide-white/20 h-full items-center">
        <a href="" class="flex items-center w-full h-full"> <i class="fa-brands fa-facebook"></i> </a>
        <a href="" class="flex items-center w-full h-full "> <i class="fa-brands fa-facebook"></i> </a>
       </div>
      </div>
    </div>
</section>