<footer class="flex flex-col justify-between text-white w-full  bg-[#191D31]">
  <div class="w-full h-full">
    <div>
      
    </div>
  </div>
  
  <div class="border-t border-white/20 ">
    <div class="flex flex-col md:flex-row items-center justify-between h-auto md:h-24 px-0 md:px-20 ld:px-32 ">
      <div class="text-xl py-8 w-full flex justify-center border-b border-white/20 md:border-none md:justify-normal">    
        <h2>Lorem ipsum dolor sit amet.</h2>  
      </div>
      <div class="flex h-full ">
        <a href="" class="flex items-center px-10 border-l border-r border-white/20 py-3 ">
          <span class="text-2xl"><i class="fa-brands fa-facebook"></i></span>
        </a>
        <a href="" class="flex items-center px-10 border-r border-white/20">
          <span class="text-2xl"><i class="fa-brands fa-instagram"></i></span>
        </a>
      </div>
    </div>
  </div>
</footer>
