<section class="bg-[#191d31] w-full h-96 relative">
    <div class="border-t border-white/20 w-full absolute bottom-0 right-0 left-0 h-20 flex items-center">
      <div class="flex items-center justify-around container h-20 ">
        <h1 class="font-raleway uppercase font-semibold">Lorem ipsum dolor sit amet.</h1>
       <div class="flex gap-10 text-xl divide-x divide-white/20">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-Instagram"></i>
       </div>
      </div>
    </div>
</section>