---
import { Image } from "astro:assets";
import minhaImagem from "../../public/images/dj4.jpg";
---


<div class=""> 
  <Image src={minhaImagem} alt="Uma descrição da minha imagem." class=" object-cover object-center h-full"/>

  </div>