---
interface Props {
	image: string;
}

const {image} = Astro.props;
---


<div class=""> 
    <div class=" h-52 bg-cover bg-center" style={{backgroundImage: `url('/images/${image}')`}}></div>
  </div>