


<div class="swiper mySwiper2">
  <div class="swiper-wrapper lg:h-40 xl:h-60">
    <div class="swiper-slide bg-[url('/images/dj1.png')] w-full bg-cover bg-center"></div>
    <div class="swiper-slide bg-[url('/images/dj1.png')] w-full bg-cover bg-center"></div>
    <div class="swiper-slide bg-[url('/images/dj1.png')] w-full bg-cover bg-center"></div>
    <div class="swiper-slide bg-[url('/images/dj1.png')] w-full bg-cover bg-center"></div>
    <div class="swiper-slide bg-[url('/images/dj1.png')] w-full bg-cover bg-center"></div>
    <div class="swiper-slide bg-[url('/images/dj1.png')] w-full bg-cover bg-center"></div>
    <div class="swiper-slide bg-[url('/images/dj1.png')] w-full bg-cover bg-center"></div>
    <div class="swiper-slide bg-[url('/images/dj1.png')] w-full bg-cover bg-center"></div>
  </div>
</div>

<script>
  import Swiper from 'swiper/bundle'

  var swiper1 = new Swiper(".mySwiper2", {
    slidesPerView: 6,
    loop: true,
    autoplay: {
      delay: 1000, // Aumentando o atraso para 3 segundos
      disableOnInteraction: false,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
      dynamicBullets: true,
    },
    speed: 3000,

    breakpoints: {
      // Quando a largura da tela for 640 pixels ou menos
      140: {
        slidesPerView: 2,
      },

      768: {
        slidesPerView: 4,
      },

      1024: {
        slidesPerView: 6,
      },
    },
    
  });

  document.addEventListener('keydown', function(event) {
    if (event.key === 'ArrowLeft') {
      swiper1.slidePrev();
    } else if (event.key === 'ArrowRight') {
      swiper1.slideNext();
    }
  });
</script>


  