<header class="h-screen flex flex-col justify-between text-white relative overflow-hidden test">
  <div class="flex items-center justify-between border-b border-white/20 h-24 relative z-50">
    <div class="flex items-center divide-x divide-white/20  h-full">
      <img class="h-full p-4" src="/images/logo.png" alt="">
      <nav class="flex items-center gap-6 pl-6 h-full">
        <ul class="li"><a href="" class="">Home</a></ul>
        <ul class="li"><a href="" class="">Aulas</a></ul>
        <ul class="li"><a href="" class="">Expedições</a></ul>
        <ul class="li"><a href="" class="">Passeios</a></ul>
        <ul class="li"><a href="" class="">Projeto Social</a></ul>
      </nav>
    </div>
    <div class="hidden md:flex h-full divide-x divide-white/20">
      <a href="" class="flex items-center gap-2 px-6 border-l border-white/20">
        <span class="text-xl"><i class="fa-solid fa-location-dot"></i></span>
        <p>Como chegar?</p>
      </a>
      <a href="" class="flex items-center gap-2 px-6">
        <i class="fa-solid fa-phone"></i>
        <p>2490000-0000</p>
      </a>
      <a href="" class="h-full text-3xl flex items-center justify-center px-6"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </div>
  <div class="grid md:grid-cols-3 divide-x border-t divide-white/20 border-white/20 relative z-50">

    <div class="h-60 p-6 grid items-start group hover:bg-slate-800 transition">
      <div class="flex gap-4">
        <span class="text-4xl flex items-center"><i class="fa-solid fa-location-dot"></i></span>
        <div class="">
          <p class="font-semibold">Expedições</p>
          <h3 class="font-bold text-2xl">Volta a Ilha Grande</h3>
        </div>
      </div>
      <p class="font-light">Embarque em uma emocionante expedição de canoa havaiana, desbravando águas cristalinas e visuais paradisíacos.</p>
      <a href="" class="font-semibold">Saiba Mais</a>
    </div>

    <div class="h-60 p-6 grid items-start group hover:bg-slate-800 transition">
      <div class="flex gap-4">
        <span class="text-4xl flex items-center"><i class="fa-solid fa-location-dot"></i></span>
        <div class="">
          <p class="font-semibold">Passeios</p>
          <h3 class="font-bold text-2xl">Conheça a baía!</h3>
        </div>
      </div>
      <p class="font-light">Explore os encantos naturais da Ilha Grande em passeios emocionantes. Desfrute da beleza selvagem deste paraíso tropical!</p>
      <a href="" class="font-semibold">Saiba Mais</a>
    </div>

    <div class="h-60 p-6 grid items-start group hover:bg-slate-800 transition">
      <div class="flex gap-4">
        <span class="text-4xl flex items-center"><i class="fa-solid fa-location-dot"></i></span>
        <div class="">
          <p class="font-semibold">Aulas</p>
          <h3 class="font-bold text-2xl">Saída diária</h3>
        </div>
      </div>
      <p class="font-light">Receba aulas empolgantes na Ilha Grande. Explore suas águas e belezas naturais com nossos experientes instrutores.</p>
      <a href="" class="font-semibold">Saiba Mais</a>
    </div>

  </div>

  <div class="absolute -z-10 inset-0 bg-gradient-to-b from-gray-950/80 via-gray-950/10 to-gray-950/80"></div>

  <div class="bg-[url(/images/group.jpg)] bg-center bg-cover md:bg-none fixed inset-0 -z-20"></div>

  <video autoplay muted loop class="hidden md:block absolute inset-0 w-screen h-screen object-cover -z-20" poster="/images/video.png">
    <source class="hidden"  src="https://www.goinitium.com/wp-content/uploads/2024/04/DJI-0615.mp4" type="video/mp4">
    <source src="movie.ogg" type="video/ogg">
  </video>

  <div class="absolute inset-0 flex flex-col gap-6 w-3/4 mx-auto justify-center mb-32">
    <h1 class="text-5xl md:text-7xl font-bold leading-loose uppercase ">Reme na Ilha Grande</h1>
    <p class="text-xl font-light">Aventure-se na Canoa polinésia</p>
  </div>

</header>

<section class="grid grid-cols-2">

  <div class="bg-[url('/images/dj4.jpg')] bg-center bg-cover h-[40rem]"></div>

  <div class="p-28 flex flex-col gap-4 items-start">
    <div class="grid gap-4 auto-rows-min ">
      <p class="font-semibold">Saída</p>
      <h2 class="text-5xl font-bold">Aulas diárias</h2>
      <p class="font-light">Reme com nossos alunos e aprenda mais sobre a VA'A em uma aula de uma hora</p>
      
      <div class="grid grid-cols-2 gap-8">

        <div class="bg-blue-300 p-6 grid gap-4 text-center">

          <div class="">
            <span class="">
              <i></i>
            </span>
            <h3 class="text-4xl">Manhã</h3>
          </div>
          
          <ul class="grid gap-2">
            <li class="font-light">00:00 às 00:00h</li>
            <li class="font-light">00:00 às 00:00h</li>
          </ul>

        </div>

        <div class="bg-blue-500 p-6 grid gap-4 text-center">

          <div class="">
            <span class="">
              <i></i>
            </span>
            <h3 class="text-4xl">Tarde</h3>
          </div>
          
          <ul class="grid gap-2">
            <li class="font-light">00:00 às 00:00h</li>
            <li class="font-light">00:00 às 00:00h</li>
          </ul>

        </div>

      </div>

    </div>

    <a href="" class="bg-red-500 p-4 text-white font-bold uppercase">Agende Já</a>

  </div>

  <div class="p-28 flex flex-col gap-4 items-start">
    <div class="grid gap-4 auto-rows-min ">
      <p class="font-semibold">Expedições</p>
      <h2 class="text-5xl font-bold">Volta a ilha Grande</h2>
      <p class="font-light">Reme com nossos alunos e aprenda mais sobre a VA'A em uma aula de uma hora</p>
      
      <div class="grid grid-cols-2 gap-4">

        <div class="bg-blue-300 p-2 flex items-center gap-4 text-center">

          <span class="">
            <i></i>
          </span>
          <h3 class="text-lg">Mídias incríveis</h3>

        </div>

        <div class="bg-blue-300 p-2 flex items-center gap-4 text-center">

          <span class="">
            <i></i>
          </span>
          <h3 class="text-lg">Mídias incríveis</h3>

        </div>


        <div class="bg-blue-300 p-2 flex items-center gap-4 text-center">

          <span class="">
            <i></i>
          </span>
          <h3 class="text-lg">Mídias incríveis</h3>

        </div>

        <div class="bg-blue-300 p-2 flex items-center gap-4 text-center">

          <span class="">
            <i></i>
          </span>
          <h3 class="text-lg">Mídias incríveis</h3>

        </div>

        <div class="bg-blue-300 p-2 flex items-center gap-4 text-center">

          <span class="">
            <i></i>
          </span>
          <h3 class="text-lg">Mídias incríveis</h3>

        </div>

        <div class="bg-blue-300 p-2 flex items-center gap-4 text-center">

          <span class="">
            <i></i>
          </span>
          <h3 class="text-lg">Mídias incríveis</h3>

        </div>

      </div>

    </div>

    <a href="" class="bg-red-500 p-4 text-white font-bold uppercase">Agende Já</a>

  </div>

  <div class="bg-[url('/images/dj2.jpg')] bg-center bg-cover h-[40rem]"></div>

</section>

<section class="py-20 bg-gray-50">
  
  <div class="container">
    <h1 class="mb-12 text-5xl font-bold text-center">Próximos eventos</h1>
    
    <div class="grid grid-cols-3 gap-8">

      <div class="p-4 bg-white grid gap-4">
        <div class="bg-[url('/images/dj3.jpg')] h-60 flex items-start bg-cover bg-center">
          <p class="h-auto bg-gray-50 w-full text-center py-2 text-lg font-light m-4">28 de Maio de 2024</p>
        </div>

        <h2 class="text-2xl">Volta a Ilha Grande</h2>
      </div>

      <div class="p-4 bg-white grid gap-4">
        <div class="bg-[url('/images/dj3.jpg')] h-60 flex items-start bg-cover bg-center">
          <p class="h-auto bg-gray-50 w-full text-center py-2 text-lg font-light m-4">28 de Maio de 2024</p>
        </div>

        <h2 class="text-xl">Volta a Ilha Grande</h2>
      </div>

      <div class="p-4 bg-white grid gap-4">
        <div class="bg-[url('/images/dj3.jpg')] h-60 flex items-start bg-cover bg-center">
          <p class="h-auto bg-gray-50 w-full text-center py-2 text-lg font-light m-4">28 de Maio de 2024</p>
        </div>

        <h2 class="text-xl">Volta a Ilha Grande</h2>
      </div>

    </div>
  </div>

</section>

<section class="grid grid-cols-2 container col-span">

  <div class="flex items-center">
    <div class="col-span-6 bg-[url('/images/canoa.png')] w-full h-96 bg-cover bg-center"></div>
  </div>

  <div class="p-28 flex flex-col gap-4 items-start">
    <div class="grid gap-4 auto-rows-min ">
      <p class="font-semibold">Saída</p>
      <h2 class="text-5xl font-bold">Aulas diárias</h2>
      <p class="font-light">Reme com nossos alunos e aprenda mais sobre a VA'A em uma aula de uma hora</p>

      <div class="grid grid-cols-2 gap-8">

        <div class="bg-blue-300 p-6 grid gap-4 text-center">

          <div class="">
            <span class="">
              <i></i>
            </span>
          <h3 class="text-4xl">Manhã</h3>
          </div>

          <ul class="grid gap-2">
            <li class="font-light">00:00 às 00:00h</li>
            <li class="font-light">00:00 às 00:00h</li>
          </ul>

        </div>

        <div class="bg-blue-500 p-6 grid gap-4 text-center">

          <div class="">
            <span class="">
              <i></i>
            </span>
            <h3 class="text-4xl">Tarde</h3>
          </div>

          <ul class="grid gap-2">
            <li class="font-light">00:00 às 00:00h</li>
            <li class="font-light">00:00 às 00:00h</li>
          </ul>

        </div>

      </div>

    </div>

    <a href="" class="bg-red-500 p-4 text-white font-bold uppercase">Agende Já</a>

  </div>
</section>

<footer class="bg-blue-900">
  <div class="container h-24 flex justify-between items-center text-white">
    <p class="">VA'A Ilha Grande TM</p>
    <a href="" class="h-full text-3xl flex items-center justify-center px-6"><i class="fa-brands fa-instagram"></i></a>
  </div>
</footer>