---
import Card from './Card.astro';
import CardSlide from './CardSlide.astro';
const res = await fetch('http://137.184.122.253:8055/items/Home_cards');
const cards = await res.json();
const card1 = cards.data[0];
const card2 = cards.data[1];
const card3 = cards.data[2];

---




<main class="w-full h-screen flex flex-col relative" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000">
  <div class=" h-screen flex flex-col justify-between">
      <div>
        <div class="container absolute  inset-0 flex flex-col justify-center pb-32">
          <h1 class="self-start place-self-end text-7xl md:text-7xl leading-normal
          md:leading-loose uppercase font-extrabold" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000">
            Reme na Ilha Grande
          </h1>
          <p class="text-xl font-light" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1600" >Aventure-se na Canoa polinésia</p>
        </div>
      </div>
      <div class="lg:hidden border-t divide-white/20 border-white/20  flex items-center justify-center ">
        <CardSlide/>
      </div>
  </div>
  
  <div class= "md:mt-auto" >
     <div class="hidden md:hidden lg:grid md:grid-cols-3 divide-x border-t divide-white/20 border-white/20 absolute bottom-0 z-50">
      <Card
      subtitle='Expedições' 
      title={card1.title} 
      paragraph='Embarque em uma emocionante expedição de canoa havaiana, desbravando aguas cristalinas e visuais paradisíacos' 
      icon='fa-solid fa-ship' 
      link=''
     />      
     <Card 
      subtitle='Passeios'
      title={card2.title}
      paragraph='Explore os encantos naturais da Ilha Grande em passeios emocionantes. Desfrute da beleza selvagem deste paraíso tropical!' 
      icon='fa-solid fa-island-tropical' 
      link=''
     />    
     <Card 
      subtitle='Aulas' 
      title={card3.title}
      paragraph='Receba aulas empolgantes na Ilha Grande. Explore suas águas e belezas naturais com nossos experientes instrutores.' 
      icon='fa-solid fa-umbrella-beach' 
      link=''
     /> 
     </div>
  </div>

</main>
