---
import Gridimages from "./Gridimages.astro";

---


<section class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 ">
  <Gridimages 
    image="dji1.JPG"
    />
  <Gridimages 
    image="dj2.jpg"
    />
  <Gridimages 
    image="dj3.jpg"
    />
  <Gridimages 
    image="dj4.jpg"
    />
  <Gridimages 
    image="dj2.jpg"
    />
  <Gridimages 
    image="dji1.JPG"
    />
</section>
