<header class="flex flex-col justify-between text-white w-full absolute">
  <div class="flex items-center justify-between border-b border-white/20 h-24 relative z-50">
    <div class="flex justify-between flex-wrap md:flex-nowrap items-center h-full w-full md:w-auto">
      <img class="h-full p-4" src="/images/logo.png" alt="">
      <div id="btn" class="flex flex-col gap-[5px] md:hidden cursor-pointer pr-4 ">
        <div class=" line w-[28px] h-[3px] bg-white rounded-md"></div>
        <div class=" line w-[28px] h-[3px] bg-white rounded-md"></div>
        <div class=" line w-[28px] h-[3px] bg-white rounded-md"></div>        
      </div>
      <nav class=" md:flex items-center flex blur md:ml-10 container">
        <ul class="grid grid-cols-1 gap-3 p-6 font-raleway font-semibold w-96 md:w-auto md:flex md:gap-6 text-lg md:text-md">
          <li><a href="">Home</a></li>
          <li><a href="">aulas</a></li>
          <li><a href="">Expedições</a></li>
          <li><a href="">Passeios</a></li>
          <li><a href="">Projeto Social</a></li>
        </ul>
      </nav>
   
    </div>
    <div class="hidden lg:flex h-full divide-x divide-white/20">
      <a href="" class="flex items-center gap-2 px-6 border-l border-white/20">
        <span class="text-xl"><i class="fa-solid fa-location-dot"></i></span>
        <p class="font-raleway font-bold">Como chegar?</p>
      </a>
      <a href="" class="flex items-center gap-2 px-6">
        <i class="fa-solid fa-phone"></i>
        <p class="font-raleway font-bold">2490000-0000</p>
      </a>
      <a href="" class="h-full text-3xl flex items-center justify-center px-6"
        ><i class="fa-brands fa-instagram"></i></a
      >
    </div>
  </div>
</header>
