---
import PasseiosCard from "./PasseiosCard.astro";
---

<section class="py-20 flex flex-col items-center gap-10">
  <div>
    <h1 class="font-extrabold text-[#191D31] text-4xl uppercase">Passeios</h1>
  </div>

  <div class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
    <PasseiosCard 
    data="00/00/0000" 
    subtitle="Lorem" 
    link="" 
    image="dj2.jpg" 
    />
    <PasseiosCard 
    data="00/00/0000" 
    subtitle="Lorem" 
    link="" 
    image="dj3.jpg" 
    />
    <PasseiosCard 
    data="00/00/0000" 
    subtitle="Lorem" 
    link="" 
    image="dj4.jpg"
     />
    <PasseiosCard 
    data="00/00/0000" 
    subtitle="Lorem" 
    link="" 
    image="dji1.JPG" 
    />
    <PasseiosCard 
    data="00/00/0000" 
    subtitle="Lorem" 
    link="" 
    image="dj4.jpg" 
    />
    <PasseiosCard 
    data="00/00/0000" 
    subtitle="Lorem" 
    link="" 
    image="dj4.jpg"
     />
  </div>
</section>
