---
interface Props {
  data: string;
	title: string;
	link: string;
}

const {title, link, data,} = Astro.props;

import { Image } from "astro:assets";
import minhaImagem from "../../public/images/dj4.jpg";
---



<div class="flex flex-col gap-4"> 
  <Image src={minhaImagem} alt="Uma descrição da minha imagem." class=" object-cover object-center h-full"/>

    <div class="self-start place-self-end m-4 p-2 px-4 bg-[#191D31] font-semibold font-roboto">{data}</div>
    <div class="self-end flex">
      <div class="backdrop-blur w-10/12 p-2 py-3 px-4 font-bold">{title}</div>
      <div class="bg-[#191D31] w-2/12 p-2 py-3 flex items-center justify-center text-2xl">
        <a href={link}><i class="fa-solid fa-chevron-right"></i></a>
      </div>
    </div>
  </div>

</div>
