---
import SocialCard from "./SocialCard.astro";
import SlideSocial from "./SlideSocial.astro";
---

<section class="bg-white">

    <div class="w-full flex flex-col lg:flex-row justify-between h-full relative  px-4 lg:px-20">
      
      <div class="flex flex-col items-center md:items-start gap-6">
        <h1 class="text-4xl lg:text-5xl font-extrabold text-text">Projeto Social</h1>
        <p class=" text-text lg:w-[32rem]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, blanditiis voluptatem? Deleniti ut cumque unde!</p>
      </div>
      
      <div class=" lg:w-4/12 lg:h-[28rem] bg-red-100">
        <SlideSocial/>
      </div>
      
    </div>
    
    <div class=" grid-cols-1 md:grid-cols-2 lg:grid-cols-3 px-4 md:px-12 gap-8 hidden">
      <SocialCard 
      title="Ilha Grande"
      paragraph="Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quisquam dolore voluptate aliquam voluptatem reiciendis reprehenderit velit atque rerum eaque." 
      image="dj2.png"
      />
      <SocialCard 
      title="Ilha Grande"
      paragraph="Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quisquam dolore voluptate aliquam voluptatem reiciendis reprehenderit velit atque rerum eaque." 
      image="dj2.png"
      />
      <SocialCard 
      title="Ilha Grande"
      paragraph="Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quisquam dolore voluptate aliquam voluptatem reiciendis reprehenderit velit atque rerum eaque." 
      image="dj2.png"
      />
      
    </div>
  </div>
</section>


