---
import SlideSocial from "./SlideSocial.astro";
---
<section id="voltailha" class="lg:grid lg:grid-cols-2 relative ">
  
  <div class="flex flex-col px-4 md:p-20 relative">
      <div class="text-gray-600 flex flex-col gap-10" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000">
        <div class=" flex flex-col gap-4">
          <div class="">
            <h2 class="text-4xl md:text-5xl font-bold">Projeto Social</h2>
          </div>
          <p class="font-light">Reme com nossos alunos e aprenda mais sobre a VA'A em uma aula de uma  hora!</p>
        </div>
        <div>
          <p class="font-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae esse cumque quibusdam similique magnam? Ex consectetur tempora non fugit omnis.</p>
        </div>
      </div>
  </div>
  

  <div class="w-full h-full relative">
    <SlideSocial/>
  </div>

</section>






<section class="hidden">

    <div class="w-full flex flex-col lg:flex-row justify-between relative px-4 py-20 md:p-20 lg:p-16 gap-6 lg:gap-0">
      
      <div class="flex flex-col items-center md:items-start gap-6">
        <h1 class="text-4xl lg:text-5xl font-bold text-text">Projeto Social</h1>
        <p class="lg:w-[32rem] text-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, blanditiis voluptatem? Deleniti ut cumque unde!</p>
      </div>
      
      <div class="">
        <SlideSocial/>
      </div>
      
    </div>
    
  </div>
</section>




