---
import SlideSocial from "./SlideSocial.astro";
---



<section id="social" class="lg:grid lg:grid-cols-2 relative ">
  
  <div class="bg-[url('/images/txtw.png')] bg-right bg-cover w-full h-full absolute -z-20 opacity-30 lg:opacity-20"></div>

  <div class="flex flex-col relative gap-10 px-8 py-14 md:p-16 xl:p-28">

    <div class="flex flex-col md:flex-row lg:flex-col relative gap-10">
      <div class="text-offblack flex flex-col gap-10" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000">
        <div class=" flex flex-col gap-10">
         <div class="">
           <h2 class="text-4xl md:text-5xl font-semibold">Projeto Social</h2>
         </div>
         <p class="font-light leading-loose"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolore consequuntur unde nisi laboriosam, sunt labore iste nemo eveniet earum tempore eos sed vitae.</p>
         </div>
      </div>
    
      <div class="flex flex-col gap-10">
        <div class="flex flex-col gap-8">
          <div class=" shadow-md py-8 px-10 md:px-20 flex justify-center bg-white">
            <div class="flex items-center gap-10 text-orange w-full ">
              <h1 class="font-semibold text-4xl lg:text-5xl">180</h1>
             <p class="text-xl lg:text-xl uppercase font-semibold text-gray-500 text-center">Jovens atendidos</p>
            </div>
          </div>
        </div>
  
        <p class="font-light text-offblack border-l-4 border-orange pl-6 leading-loose"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolore consequuntur unde nisi laboriosam, sunt labore iste nemo eveniet earum tempore eos sed vitae. </p>
      </div>

    </div>
  
  </div>
  

  <div class="">
    <div class="w-full h-full relative">
      <SlideSocial/>
      </div>
  </div>

</section>



<section class="hidden">

    <div class="w-full flex flex-col lg:flex-row justify-between relative px-4 py-20 md:p-20 lg:p-16 gap-6 lg:gap-0">
      
      <div class="flex flex-col items-center md:items-start gap-6">
        <h1 class="text-4xl lg:text-5xl font-bold text-text">Projeto Social</h1>
        <p class="lg:w-[32rem] text-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, blanditiis voluptatem? Deleniti ut cumque unde!</p>
      </div>
      
      <div class="">
        <SlideSocial/>
      </div>
      
    </div>
    
  </div>
</section>




