<section class="grid md:grid-cols-2 md:grid-row-2 ">
    <div class="py-10 md:py-0 lg:p-10 md:p-20 xl:p-24 flex flex-col gap-4 items-start bg-[#191D31]">
        <div class="grid gap-4 auto-rows-min container">
         <div class="">
          <p class="font-semibold text-md">Expedições</p>
          <h2 class="text-4xl md:text-5xl font-extrabold">Volta a ilha Grande</h2>
          <p class="font-light">
         </div>
            <p class="font-light">Reme com nossos alunos e aprenda mais sobre a VA'A em uma aula de uma hora!</p>
          </p>
    
          <div class="flex  flex-wrap gap-4 ">
            <div class="bg-[#1FB9F1] p-2 w-40 md:w-auto flex items-center justify-center gap-4 text-center font-light ">
              <span class="text-lg">
                <i class="fa-solid fa-camera"></i>
              </span>
              <h3 class="">Mídias incríveis</h3>
            </div>
    
            <div class="bg-[#1973CB] p-2 w-40 md:w-auto flex items-center justify-center gap-4 text-center font-light ">
              <span class="text-lg">
                <i class="fa-solid fa-plate-utensils"></i>
              </span>
              <h3 class="">Jantar pós volta</h3>
            </div>
    
            <div class="bg-[#1FB9F1] p-2 w-40 md:w-auto flex items-center gap-4 text-center justify-center font-light ">
              <span class="text-lg">
                <i class="fa-solid fa-ship"></i>
              </span>
              <h3 class="">Mídias incríveis</h3>
            </div>
    
            <div class="bg-[#1973CB] p-2 w-40 md:w-auto flex items-center gap-4 text-center justify-center font-light " >
              <span class="text-lg">
                <i class="fa-solid fa-shirt"></i>
              </span>
              <h3 class="">Barco de apoio</h3>
            </div>
    
            <div class="bg-[#1FB9F1] p-2 w-40 md:w-auto flex items-center gap-4 text-center justify-center font-light ">
              <span class="text-lg">
                <i class="fa-solid fa-banana"></i>
              </span>
              <h3 class="">Camisa da edição</h3>
            </div>
    
            <div class="bg-[#1973CB] p-4 w-40 md:w-auto flex items-center gap-4 text-center justify-center font-light ">
              <span class="text-lg">
                <i></i>
              </span>
              <h3 class="">Frutas e água</h3>
            </div>
          </div>
          
          <a href="" class="bg-red-500 mt-4 p-3 flex justify-center text-white font-bold uppercase w-40 ">Agende Já</a>
        </div>
    </div>
    
      <div class="bg-[url('/images/dj2.jpg')] bg-center bg-cover hidden md:block"></div>
</section>