---
import Courses from "./Courses.astro"
---


<section class="py-20 bg-gray-100">
    <div class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 ">
    <Courses 
    data='00/00/0000' 
    subtitle='Lorem' 
    title='Lorem'
    paragraph='Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloremque.' 
    link=''
    />
    <Courses 
    data='00/00/0000' 
    subtitle='Lorem' 
    title='Lorem'
    paragraph='Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloremque.' 
    link=''
    />
    <Courses 
    data='00/00/0000' 
    subtitle='Lorem' 
    title='Lorem'
    paragraph='Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloremque.' 
    link=''
    />
    <Courses 
    data='00/00/0000' 
    subtitle='Lorem' 
    title='Lorem'
    paragraph='Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloremque.' 
    link=''
    />
    <Courses 
    data='00/00/0000' 
    subtitle='Lorem' 
    title='Lorem'
    paragraph='Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloremque.' 
    link=''
    />
    <Courses 
    data='00/00/0000' 
    subtitle='Lorem' 
    title='Lorem'
    paragraph='Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloremque.' 
    link=''
    />
    
    
    
    </div>
</section>