---
import Tabs from "./Tabs.astro"
---



<section class="grid md:grid-cols-2 md:grid-row-2">
  
  <div class="bg-[url('/images/dj4.jpg')] bg-center bg-cover hidden md:block"></div>

  <div class="flex flex-col gap-4 p-10 md:p-20 lg:justify-center lg:items-center">
    <div class="grid gap-4 auto-rows-min text-black">
      <div class="text-text">
        <p class="font-semibold font-raleway">Saída</p>
        <h2 class="text-5xl font-extrabold font-raleway">Aulas diárias</h2>
      </div>
      <p class="font-thin text-text">
        Reme com nossos alunos e aprenda mais sobre a VA'A <br> em uma aula de uma
        hora
      </p>

      <div class="flex gap-8 flex-col md:flex-row">
        <div class="bg-[#1FB9F1] flex flex-col p-5 md:p-10   gap-4 justify-center items-center text-center">
          <div class="flex items-center gap-3">
            <span class="text-3xl text-white">
              <i class="fa-solid fa-sun"></i>
            </span>
            <h3 class="text-3xl font-raleway font-extrabold text-white">Manhã</h3>
          </div>

          <ul class="grid gap-2">
            <li class="font-light text-white font-raleway">00:00 às 00:00h</li>
            <li class="font-light text-white font-raleway">00:00 às 00:00h</li>
          </ul>
        </div>
        <div class="bg-[#1FB9F1] flex flex-col p-5 md:p-10   gap-4 justify-center items-center text-center">
          <div class="flex items-center gap-3">
            <span class="text-3xl text-white">
              <i class="fa-solid fa-sun"></i>
            </span>
            <h3 class="text-3xl font-raleway font-extrabold text-white">Manhã</h3>
          </div>

          <ul class="grid gap-2">
            <li class="font-light text-white font-raleway">00:00 às 00:00h</li>
            <li class="font-light text-white font-raleway">00:00 às 00:00h</li>
          </ul>
        </div>
        
      </div>
    </div>
    <a href="" class="bg-red-500 p-3 mt-4 flex justify-center text-white font-bold uppercase w-40">Agende Já</a>
  </div>

  
</section>
