

<div class=" w-full relative">
  <div class="swiper mySwiper1 h-96 lg:h-[38rem] xl:h-[42rem]">
    <div class="swiper-wrapper">
      <div class="swiper-slide bg-[url('/images/dj1.png')] w-full bg-cover bg-center"></div>
      <div class="swiper-slide bg-[url('/images/dj2.png')] w-full bg-cover bg-center"></div>
      <div class="swiper-slide bg-[url('/images/dj3.png')] w-full bg-cover bg-center"></div>
      <div class="swiper-slide bg-[url('/images/dj4.png')] w-full bg-cover bg-center"></div>
    </div>
  </div>
  <div class="absolute bottom-8 left-14 flex justify-center md:px-0 lg:px-0 text-2xl z-40 ">
    
    <div class="w-20 flex justify-between">
      <div class="button-prev flex items-center p-4 cursor-pointer group bg-white group lg:hover:bg-orange transition-all shadow-lg duration-300 -ml-6">
        <i class="fa-solid fa-chevron-left lg:group-hover:scale-125 text-orange lg:group-hover:text-white transition-all duration-1000"></i>
      </div>
  
      <div class="button-next flex items-center p-4 cursor-pointer group bg-white group lg:hover:bg-orange transition-all shadow-lg duration-300 -mr-6">
        <i class="fa-solid fa-chevron-right lg:group-hover:scale-125 text-orange lg:group-hover:text-white transition-all duration-1000"></i>
      </div>
    </div>

  </div>
</div>


<div class=" w-full relative hidden">
  <div class="swiper mySwiper1 h-96 lg:h-[24rem] xl:h-[30rem]">
    <div class="swiper-wrapper">
      <div class="swiper-slide bg-[url('/images/dj1.png')] w-full bg-cover bg-center"></div>
      <div class="swiper-slide bg-[url('/images/dj2.png')] w-full bg-cover bg-center"></div>
      <div class="swiper-slide bg-[url('/images/dj3.png')] w-full bg-cover bg-center"></div>
      <div class="swiper-slide bg-[url('/images/dj4.png')] w-full bg-cover bg-center"></div>
    </div>
  </div>
  <div class="w-full absolute top-[43%] flex justify-between md:px-0 lg:px-0 text-2xl z-40 ">
    
    <div class="button-prev flex items-center p-4 cursor-pointer group bg-white group lg:hover:bg-orange transition-all shadow-lg duration-300 -ml-6">
      <i class="fa-solid fa-chevron-left lg:group-hover:scale-125 text-orange lg:group-hover:text-white transition-all duration-1000"></i>
    </div>

    <div class="button-next flex items-center p-4 cursor-pointer group bg-white group lg:hover:bg-orange transition-all shadow-lg duration-300 -mr-6">
      <i class="fa-solid fa-chevron-right lg:group-hover:scale-125 text-orange lg:group-hover:text-white transition-all duration-1000"></i>
    </div>
  </div>
</div>

<script>
  import Swiper from 'swiper/bundle'

  var swiper1 = new Swiper(".mySwiper1", {
    slidesPerView: 1,
    spaceBetween: 2,
    loop: true,
    autoplay: {
      delay: 3000, // Aumentando o atraso para 3 segundos
      disableOnInteraction: true,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
      dynamicBullets: true,
    },
    speed: 2000,

    navigation: {
        nextEl: ".button-next",
        prevEl: ".button-prev",
      },

      breakpoints: {
      // Quando a largura da tela for 640 pixels ou menos
      140: {
        slidesPerView: 1,
        spaceBetween: 10,
      },

      768: {
        slidesPerView: 2,
        spaceBetween: 14,
      },

      1024: {
        slidesPerView: 2,
        spaceBetween: 14,
      },

    },
  });

  

  document.addEventListener('keydown', function(event) {
    if (event.key === 'ArrowLeft') {
      swiper1.slidePrev();
    } else if (event.key === 'ArrowRight') {
      swiper1.slideNext();
    }
  });
</script>
