---
import { Image } from "astro:assets";
import Imagem from "../../public/images/dj4.jpg";
---


<section class="grid md:grid-cols-2 md:grid-row-2 items-center">
    
  <Image src={Imagem} alt="Uma descrição da minha imagem." class="hidden md:block object-cover object-center h-full" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000"/>
  
  <div class="relative h-full flex items-center">
    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-shape opacity-5"></div>

    <div class="flex flex-col justify-center items-center gap-4 w-full  h-full py-10">
      <div class=" w-[26.5rem] md:w-full flex flex-col justify-center h-full md:px-24 gap-10">
  
        <div class="text-text flex flex-col gap-4 items-center text-center md:items-start md:text-start">

          <h2 class="text-4xl md:text-5xl font-extrabold" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000">Traga sua Equipe</h2>
          <p class="font-medium text-text" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">Reme com nossos alunos e aprenda mais sobre a VA'A em uma aula de uma hora</p>

        </div>
  
        <div class="">
          <div class="flex flex-col md:flex-row gap-6 justify-center" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
            
            <div class="bg-shape py-6 grid gap-4 justify-center items-center px-10 md:px-4 w-full md:w-60">
    
              <div class="flex justify-center gap-4 ">
                <span class="text-3xl text-white">
                  <i class="fa-solid fa-building"></i>
                </span>
                <h3 class="text-2xl font-raleway font-bold text-white">Empresas</h3>
              </div>
    
              <div class="w-full flex">
                <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, numquam.</p>
              </div>
            </div>
    
            <div class="bg-shape py-6 grid gap-4 justify-center items-center text-center px-10 md:px-4 w-full md:w-60">
    
              <div class="flex items-center justify-center gap-4">
                <span class="text-2xl text-white">
                  <i class="fa-solid fa-users"></i>
                </span>
                <h3 class="text-2xl font-raleway font-bold text-white">Clubes</h3>
              </div>
    
              <div class="w-full flex">
                <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, numquam.</p>
              </div>
            
            </div>

          </div>
          
          <a href="" class="bg-red-500 hover:bg-red-700  transition-all p-3 mt-4 flex justify-center text-white font-bold uppercase w-40" data-aos="fade-right" data-aos-delay="400" data-aos-duration="1000">Agende Já</a>
        </div>
  
      </div>
    </div>

  </div>
  
</section>  