

<section id="voltailha" class="grid md:grid-cols-2 md:grid-row-2 bg-white md:bg-transparent">
  

 <div class="px-2 md:px-4 py-16 lg:p-16 xl:p-32 flex flex-col relative gap-6">
      <div class="text-shape flex flex-col gap-4" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000">
        <div class=" flex flex-col items-center text-center md:items-start md:text-start gap-4">
          <div class="">
            <p class="font-bold text-xl">Expedições</p>
            <h2 class="text-4xl md:text-5xl font-extrabold">Volta a ilha Grande</h2>
          </div>
          <p class="font-medium">Reme com nossos alunos e aprenda mais sobre a VA'A em uma aula de uma  hora!</p>
        </div>
        
      </div>
  
      <div class="flex flex-wrap gap-4" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
  
        <div class="flex items-center bg-shape text-white gap-4 px-4 md:px-4 py-3">
          <span class="text-white text-lg md:text-xl">
            <i class="fa-solid fa-camera"></i>
          </span>
          <p class="font-semibold text-sm md:text-md">Roteiro paradisíaco</p>
        </div>
  
        <div class="flex items-center bg-shape text-white gap-4 px-4 md:px-4 py-3">
          <span class="text-white text-lg md:text-xl">
            <i class="fa-solid fa-camera "></i>
          </span>
          <p class="font-semibold text-sm md:text-md">Mídias incríveis</p>
        </div>
  
        <div class="flex items-center bg-shape text-white gap-4 px-4 md:px-4 py-3">
          <span class="text-white text-lg md:text-xl">
            <i class="fa-solid fa-plate-utensils"></i>
          </span>
          <p class="font-semibold text-sm md:text-md">Jantar pós volta</p>
        </div>
  
        <div class="flex items-center bg-shape text-white gap-4 px-4 md:px-4 py-3">
          <span class="text-white text-lg md:text-xl">
            <i class="fa-solid fa-ship"></i>
          </span>
          <p class="font-semibold text-sm md:text-md">Barco de apoio</p>
        </div>
  
        <div class="flex items-center bg-shape text-white gap-4 px-4 md:px-4 py-3">
          <span class="text-white text-lg md:text-xl">
            <i class="fa-solid fa-shirt"></i>
          </span>
          <p class="font-semibold text-sm md:text-md">Camisa da edição</p>
        </div>
  
        <div class="flex items-center bg-shape text-white gap-4 px-4 md:px-4 py-3">
          <span class="text-white text-lg md:text-xl">
            <i class="fa-solid fa-apple-whole"></i>
          </span>
          <p class="font-semibold text-sm md:text-md">Frutas e água</p>
        </div>
  
      </div>
     
      <a href="" class="bg-red-500 hover:bg-red-700 transition-all p-3 flex justify-center text-white font-bold uppercase w-48" data-aos="fade-right" data-aos-delay="400" data-aos-duration="1000">Garanta sua vaga</a>
  
  </div>
  

  <div class="bg-[url('/images/dj2.png')] bg-center bg-cover hidden md:block"></div>

</section>




<section class="hidden md:grid-cols-2 md:grid-row-2">
  
  <div class="px-4 py-10 md:p-16 xl:p-32 flex flex-col bg-[#f7f7f7] gap-4">

    <div class="text-shape flex flex-col gap-4">
      <p class="font-semibold text-md">Expedições</p>
      <h2 class="text-4xl md:text-5xl font-extrabold">Volta a ilha Grande</h2>
      <p class="font-light">Reme com nossos alunos e aprenda mais sobre a VA'A em uma aula de uma  hora!</p>
    </div>

    <div class="flex flex-wrap gap-4">

      <div class="flex items-center bg-lime text-white gap-4">
        <span class="text-orange-500 text-xl bg-white/90 w-3/12 h-full flex items-center justify-center">
          <i class="fa-solid fa-camera"></i>
        </span>
        <p class="font-semibold bg-black">Roteiro paradisíaco</p>
      </div>

      <div class="flex items-center bg-lime text-white gap-4 px-2 py-2 xl:py-4">
        <span class="text-white text-xl">
          <i class="fa-solid fa-camera"></i>
        </span>
        <p class="font-semibold">Mídias incríveis</p>
      </div>

      <div class="flex items-center bg-lime text-white gap-4 px-2 py-2 xl:py-4">
        <span class="text-white text-xl">
          <i class="fa-solid fa-plate-utensils"></i>
        </span>
        <p class="font-semibold">Jantar pós volta</p>
      </div>

      <div class="flex items-center bg-lime text-white gap-4 px-2 py-2 xl:py-4">
        <span class="text-white text-xl">
          <i class="fa-solid fa-ship"></i>
        </span>
        <p class="font-semibold">Barco de apoio</p>
      </div>

      <div class="flex items-center bg-lime text-white gap-4 px-2 py-2 xl:py-4">
        <span class="text-white text-xl">
          <i class="fa-solid fa-shirt"></i>
        </span>
        <p class="font-semibold">Camisa da edição</p>
      </div>

      <div class="flex items-center bg-lime text-white gap-4 px-2 py-2 ">
        <span class="text-white text-xl">
          <i class="fa-solid fa-apple-whole"></i>
        </span>
        <p class="font-semibold">Frutas e água</p>
      </div>

    </div>
    <a href="" class="bg-red-500 hover:bg-red-700 transition-all mt-4 p-3 flex justify-center text-white font-bold uppercase w-40 ">Agende Já</a>

  </div>
  
  <div class="bg-[url('/images/dj2.jpg')] bg-center bg-cover hidden md:block"></div>

</section>



<section class="hidden md:grid-cols-2 md:grid-row-2">
  
  <div class="py-10 px-4  md:p-16 xl:p-32 flex flex-col bg-shape gap-4">

    <div class="flex flex-col gap-4">
      <p class="font-semibold text-md">Expedições</p>
      <h2 class="text-4xl md:text-5xl font-extrabold">Volta a ilha Grande</h2>
      <p class="font-light">Reme com nossos alunos e aprenda mais sobre a VA'A em uma aula de uma  hora!</p>
    </div>

    <div class="flex flex-wrap gap-4">

      <div class="flex items-center bg-white text-shape gap-4 px-2 md:px-6 py-2">
        <span class="text-[#228B22] text-xl">
          <i class="fa-solid fa-island-tropical"></i>
        </span>
        <p class="font-semibold">Roteiro paradisíaco</p>
      </div>

      <div class="flex items-center bg-white text-shape gap-4 px-2 py-2">
        <span class="text-[#FFA500] text-xl">
          <i class="fa-solid fa-camera"></i>
        </span>
        <p class="font-semibold">Mídias incríveis</p>
      </div>

      <div class="flex items-center bg-white text-shape gap-4 px-2 py-2">
        <span class="text-[#FF7F50] text-xl">
          <i class="fa-solid fa-plate-utensils"></i>
        </span>
        <p class="font-semibold">Jantar pós volta</p>
      </div>

      <div class="flex items-center bg-white text-shape gap-4 px-2 py-2">
        <span class="text-[#007FFF] text-xl">
          <i class="fa-solid fa-ship"></i>
        </span>
        <p class="font-semibold">Barco de apoio</p>
      </div>

      <div class="flex items-center bg-white text-shape gap-4 px-2 py-2">
        <span class="text-[#333333] text-xl">
          <i class="fa-solid fa-shirt"></i>
        </span>
        <p class="font-semibold">Camisa da edição</p>
      </div>

      <div class="flex items-center bg-white text-shape gap-4 px-2 py-2">
        <span class="text-[#FF0000] text-xl">
          <i class="fa-solid fa-apple-whole"></i>
        </span>
        <p class="font-semibold">Frutas e água</p>
      </div>

    </div>
    <a href="" class="bg-red-500 hover:bg-red-700 transition-all mt-4 p-3 flex justify-center text-white font-bold uppercase w-40 ">Agende Já</a>

  </div>
  
  <div class="bg-[url('/images/dj2.jpg')] bg-center bg-cover hidden md:block"></div>

</section>


