<section class="grid md:grid-cols-2 md:grid-row-2">
  
  <div class="p-4 md:p-16 xl:p-32 flex flex-col bg-shape gap-4">

    <p class="font-semibold text-md">Expedições</p>
    <h2 class="text-4xl md:text-5xl font-extrabold">Volta a ilha Grande</h2>
    <p class="font-light">Reme com nossos alunos e aprenda mais sobre a VA'A em uma aula de uma hora!</p>

    <div class="flex flex-wrap gap-4">

      <div class="flex items-center bg-white text-gray-600 gap-4 px-4 py-2">
        <span class="text-[#FFA500] text-xl">
          <i class="fa-solid fa-camera"></i>
        </span>
        <p class="font-semibold">Roteiro paradisíaco</p>
      </div>

      <div class="flex items-center bg-white text-gray-600 gap-4 px-4 py-2">
        <span class="text-[#FFA500] text-xl">
          <i class="fa-solid fa-camera"></i>
        </span>
        <p class="font-semibold">Mídias incríveis</p>
      </div>

      <div class="flex items-center bg-white text-gray-600 gap-4 px-4 py-2">
        <span class="text-[#FFA500] text-xl">
          <i class="fa-solid fa-plate-utensils"></i>
        </span>
        <p class="font-semibold">Jantar pós volta</p>
      </div>

      <div class="flex items-center bg-white text-gray-600 gap-4 px-4 py-2">
        <span class="text-[#FFA500] text-xl">
          <i class="fa-solid fa-ship"></i>
        </span>
        <p class="font-semibold">Barco de apoio</p>
      </div>

      <div class="flex items-center bg-white text-gray-600 gap-4 px-4 py-2">
        <span class="text-[#FFA500] text-xl">
          <i class="fa-solid fa-shirt"></i>
        </span>
        <p class="font-semibold">Camisa da edição</p>
      </div>

      <div class="flex items-center bg-white text-gray-600 gap-4 px-4 py-2">
        <span class="text-[#FFA500] text-xl">
          <i class="fa-solid fa-apple-whole"></i>
        </span>
        <p class="font-semibold">Frutas e água</p>
      </div>

    </div>
    <a href="" class="bg-red-500 hover:bg-red-700 transition-all mt-4 p-3 flex justify-center text-white font-bold uppercase w-40 ">Agende Já</a>

  </div>
  
  <div class="bg-[url('/images/dj2.jpg')] bg-center bg-cover hidden md:block"></div>

</section>

<section class="grid md:grid-cols-2 md:grid-row-2 hidden">
  <div class="py-20 px-3  md:px-16 xl:px-44 flex flex-col bg-shape">

      <div class="gap-4">
        <p class="font-semibold text-md">Expedições</p>
        <h2 class="text-4xl md:text-5xl font-extrabold">Volta a ilha Grande</h2>
        <p class="font-light">Reme com nossos alunos e aprenda mais sobre a VA'A em uma aula de uma hora!</p>

        <div class="flex flex-wrap gap-4 w-full ">          

          <div class="bg-white md:px-8 xl:px-14 flex items-center font-light ">
            <span class="text-xl w-3/12 h-full flex items-center justify-center">
              <i class="fa-solid fa-apple-whole text-xl text-red-500"></i>
            </span> 
            <div class="w-9/12 h-full flex items-center justify-center">
              <h3 class="text-text font-semibold ">Frutas e água</h3>
            </div>
          </div>
        
        </div>
        <a href="" class="bg-red-500 hover:bg-red-700  transition-all mt-4 p-3 flex justify-center text-white font-bold uppercase w-40 ">Agende Já</a>
      </div>
  </div>
  
  <div class="bg-[url('/images/dj2.jpg')] bg-center bg-cover hidden md:block"></div>

</section>

