

<section class="grid md:grid-cols-2 md:grid-row-2 ">
    <div class="py-20 px-3  md:px-16 xl:px-44 flex flex-col gap-4  bg-[#191D31]">
        <div class="grid gap-4 auto-rows-min">
         <div class="">
          <p class="font-semibold text-md">Expedições</p>
          <h2 class="text-4xl md:text-5xl font-extrabold">Volta a ilha Grande</h2>
          <p class="font-light">
         </div>
            <p class="font-light">Reme com nossos alunos e aprenda mais sobre a VA'A em uma aula de uma hora!</p>
          </p>
    
          <div class="grid grid-cols-2 gap-4 w-full ">
            <div class="bg-white py-3 px-2 md:px-8 xl:px-14  flex justify-between items-center gap-3 font-light">
              <span class="text-xl w-6 flex justify-center">
                <i class="fa-solid fa-camera text-[#FFA500]"></i>
              </span>
              <h3 class="text-text font-semibold">Mídias incríveis</h3>
            </div>
    
            <div class="bg-white py-3 px-2 md:px-8 xl:px-14  flex justify-between items-center gap-3 font-light">
              <span class="text-xl w-6 flex justify-center">
                <i class="fa-solid fa-plate-utensils text-[#F76D5E]"></i>
              </span>
              <h3 class="text-text font-semibold">Jantar pós volta</h3>
            </div>
    
            <div class="bg-white py-3 px-2 md:px-8 xl:px-14  flex justify-between items-center gap-3 font-light">
              <span class="text-xl w-6 flex justify-center">
                <i class="fa-solid fa-camera text-[#FFA500]"></i>
              </span>
              <h3 class="text-text font-semibold">Mídias incríveis</h3>
            </div>
    
            <div class="bg-white py-3 px-2 md:px-8 xl:px-14  flex justify-between items-center gap-3 font-light" >
              <span class="text-xl w-6 flex justify-center">
                <i class="fa-solid fa-ship text-blue-500"></i>
              </span>
              <h3 class="text-text font-semibold">Barco de apoio</h3>
            </div>
    
            <div class="bg-white py-3 px-2  md:px-8 xl:px-14  flex justify-between items-center gap-3 font-light">
              <span class="text-xl w-6 flex justify-center">
                <i class="fa-solid fa-shirt text-green-500"></i>
              </span>
              <h3 class="text-text font-semibold">Camisa da edição</h3>
            </div>
    
            <div class="bg-white py-3 px-2 md:px-8 xl:px-14 flex justify-between items-center gap-3 font-light">
              <span class="text-xl w-6 flex justify-center">
                <i class="fa-solid fa-apple-whole text-xl text-red-500"></i>
              </span> 
              <h3 class="text-text font-semibold ">Frutas e água</h3>
            </div>
          </div>
          <a href="" class="bg-red-500 hover:bg-red-700  transition-all mt-4 p-3 flex justify-center text-white font-bold uppercase w-40 ">Agende Já</a>
        </div>
    </div>
    
      <div class="bg-[url('/images/dj2.jpg')] bg-center bg-cover hidden md:block"></div>
</section>

