---
import Header from "../components/Header.astro";

interface Props {
	title: string;
	description?: string;
	image?: string
}

const { 
	title, 
	description = "This is the desc", 
	image = "/img/img.jpg"
} = Astro.props;
---

<script>
	import Swiper from 'swiper/bundle';

	import 'flowbite';

	const swiper = new Swiper('.swiper', { 

		navigation: {
			nextEl: '.next',
			prevEl: '.prev',
	} });
</script>

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<script defer src="/js/awesome.js"></script>

		<link rel="stylesheet" href="../../node_modules/swiper/swiper.min.css">



		<meta name="generator" content={Astro.generator} />
		<meta property="og:image" content={image}/>
		<title>{title}</title>
	</head>
	<body class="">

		<div class="swiper w-full">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper">
				<!-- Slides -->
				<div class="swiper-slide">Slide 1</div>
				<div class="swiper-slide">Slide 2</div>
				<div class="swiper-slide">Slide 3</div>
				...
			</div>

			<!-- If we need navigation buttons -->
			<div class="prev">Prev</div>
			<div class="next">Next</div>
		

		</div>

		<Header/>

		<slot />



	</body>
</html>



<style>
.test {
	@apply hidden;
}
</style>