---

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script defer src="/js/awesome.js"></script>
		<meta name="generator" content={Astro.generator} />
		<title>Ilha Grande</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
	</head>
	<body class="relative  text-white font-raleway">

    
    <div class="relative h-screen">
     
      <div class="absolute z-10 inset-0 bg-gradient-to-b from-gray-950/80 via-gray-950/10 to-gray-950/80"></div>
      
      <video  muted loop class="hidden md:block absolute inset-0 w-screen h-screen object-cover -z-40" poster="/images/video.png">
        <source class="hidden"  src="https://www.goinitium.com/wp-content/uploads/2024/04/DJI-0615.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      </video>
	
      <div class=" md:hidden absolute inset-0 bg-fixed bg-center h-screen"   style="background-image: url('./images/video.png'); -z-50"></div>
      <div class="absolute inset-0 bg-black opacity-60 md:opacity-40"></div>
      <div class="relative z-10">
        <slot />
      </div>
    </div>
	</body>
</html>

<script>
  import 'flowbite';
  import AOS from 'aos';
  import 'aos/dist/aos.css'; // You can also use <link> for styles
  // ..
  AOS.init({
    once: true
  });

  function scrollToSection(event: MouseEvent): void {
    const targetId: string | null = (event.target as HTMLAnchorElement).getAttribute('href');
    const targetSection: HTMLElement | null = document.querySelector(targetId || '');
    if (targetSection) {
      targetSection.scrollIntoView({
        behavior: 'smooth'
      });
    }
  }

  // Adiciona um ouvinte de evento de clique a todos os links no menu de navegação
  const navLinks: NodeListOf<HTMLAnchorElement> | null = document.querySelectorAll('nav a');
  if (navLinks) {
    navLinks.forEach(link => {
      link.addEventListener('click', function(event: MouseEvent): void {
        event.preventDefault(); // Previne o comportamento padrão do link
        scrollToSection(event); // Chama a função para rolar a página
      });
    });
  }


</script>


<style>
  @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  </style>
